@page
@model UserGroup.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<div>
    Hi wassup! How are you doing in this reat time of Covid19  or less just say Corona Virus ?
</div>