@page
@model UserGroup.Web.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>



<address>
    <strong>Support:</strong> <a href="mailto:tupaimook@gmail.com">tupaimook@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="https://www.linkedin.com/in/ankanmookherjee/">https://www.linkedin.com/in/ankanmookherjee/</a>
</address>
